@charset "utf-8";
#listData {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
    -webkit-transform:translate3d(0,0,0);
}
.scroller ul {
	list-style: none;
}

.pullDown, .pullUp {
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #888;
    font-size: 0.875rem;
}
.pullDownLabel{padding-top: 8px;}
.pullDownLabel i{margin-right: 5px;}
.pullDown .pullDownIcon, .pullUp .pullUpIcon {
	background: url(../images/arrow.png) no-repeat center center;
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 30%;
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	-moz-background-size: auto 100%;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 250ms;
    display: none;
}
.pullDown .pullDownIcon {
    margin-top: 3px;
	display: none;
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
}
.pullDown.flip .pullDownIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
    /*display: block;*/
}
.pullUp.flip .pullUpIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
    /*display: block;*/
}
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
    font-size: 24px;
	background-size: 100% auto;
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-transform: rotate(0deg) translateZ(0);
	-moz-transition-duration: 0ms;
	-moz-animation-name: loading;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
    display: block;
}
.pullDown.loading .pullDownIcon{
    background-image: url(../images/loader.png);
}
@-webkit-keyframes loading {
 from {
-webkit-transform:rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
@-moz-keyframes loading {
 from {
-moz-transform:rotate(0deg) translateZ(0);
}
to {
	-moz-transform: rotate(360deg) translateZ(0);
}
}

.pullUp.loading {
    background: none;    padding-top: 5px; }
.pullUp.loading .pullUpIcon {
    display: inline-block;
    position: relative;
    margin: 0;
    background: none;
}
.pullUp.loading .pullUpLabel {
    display: inline-block; }
